<div class="bg-[#1A1B1B]">
  <div class="flex justify-center items-center max-w-screen-2xl m-auto">
    <form action="" class="px-8 pt-6 pb-8 min-w-3/12 max-w-xl">
      <div class="grid gap-6 mb-6 md:grid-cols-2">
        <div class="mb-4">
          <label for="email" class="text-[#519A73] block text-sm font-bold mb-2"
            >Email:
          </label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="example@example.com"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-[#519A73] leading-tight focus:outline-none bg-[#1c2124] focus:shadow-outline"
          />
          <!-- <span>Debe contener un formato correcto</span> -->
        </div>
        <div class="mb-4">
          <label for="user" class="text-[#519A73] block text-sm font-bold mb-2"
            >Username:
          </label>
          <input
            type="text"
            name="user"
            id="user"
            placeholder="Username"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-[#519A73] leading-tight focus:outline-none bg-[#1c2124] focus:shadow-outline"
          />
        </div>
        <div class="mb-6">
          <label for="pass" class="text-[#519A73] block text-sm font-bold mb-2"
            >Password:
          </label>
          <input
            type="password"
            name="pass"
            id="pass"
            placeholder="*******"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-[#519A73] bg-[#1c2124] mb-3 leading-tight focus:outline-none focus:shadow-outline"
          />
          <!-- <span>El password debe contener un caracter especial</span>
          <span>El password debe contener minimo 8 caracteres</span> -->
        </div>
        <div class="mb-6">
          <label for="pass" class="text-[#519A73] block text-sm font-bold mb-2"
            >Password confirmation:
          </label>
          <input
            type="password"
            name="pass"
            id="pass"
            placeholder="*******"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-[#519A73] bg-[#1c2124] mb-3 leading-tight focus:outline-none focus:shadow-outline"
          />
          <!-- <span>Las contraseñas no coinciden</span> -->
        </div>
      </div>
      <button
        class="bg-[#519A73] hover:text-[#519A73] hover:bg-[#1c2124] text-[#1c2124] font-bold py-2 px-7 rounded focus:outline-none focus:shadow-outline"
      >
        Login
      </button>
    </form>
  </div>
</div>
