@-o-keyframes fadeIt {
  0%   { background-color: #ffffff; }

  100% { background-color: #FFFFFF; }
}
@keyframes fadeIt {
  0%   { background-color: #ffffff; }
 
  100% { background-color: #FFFFFF; }
}
.fadeIn{
    animation: fadeIt 1s ease-in-out;
}

@-o-keyframes fadeItError {
  0%   { background-color: #c65956; }
  50%  { background-color: #519A73; }
  100% { background-color: #c65956; }
}
@keyframes fadeItError {
  0%   { background-color: #c65956; }
  50%  { background-color: #519A73; }
  100% { background-color: #c65956; }
}
.fadeInError{

    animation: fadeItError 1s ease-in-out;
}
