<main>
  <section class="container-section">
    <div class="container-level-lifes">
      <div class="container-level">
        <h3>Level</h3>
        <p></p>
      </div>

      <div class="container-livesandheart">
        <h3>Lives</h3>
        <ul>
          <li><i class="fa-solid fa-heart"></i></li>
          <li><i class="fa-solid fa-heart"></i></li>
          <li><i class="fa-solid fa-heart"></i></li>
        </ul>
      </div>
    </div>

    <div class="container containerfijo"></div>
  </section>
</main>
