@-o-keyframes fadeIt {
  0%   { background-color: #ffffff; }
  50%  { background-color: #519A73; }
  100% { background-color: #FFFFFF; }
}
@keyframes fadeIt {
  0%   { background-color: #ffffff; }
  50%  { background-color: #519A73; }
  100% { background-color: #FFFFFF; }
}
.fadeIn{
    animation: fadeIt 0.8s ease-in-out;
}

@-o-keyframes fadeItError {
  0%   { background-color: #c65956; }
  50%  { background-color: #519A73; }
  100% { background-color: #c65956; }
}
@keyframes fadeItError {
  0%   { background-color: #c65956; }
  50%  { background-color: #519A73; }
  100% { background-color: #c65956; }
}
.fadeInError{

    animation: fadeItError 1s ease-in-out;
}
.bloque{
  transition:transform 0.3s;
}


.active{
 
  transform: rotateX(180deg);
  
}
.shaking-block {
  animation: shake 0.2s;
  display: inline-block; 
  background-color:rgb(40, 83, 60) ;
}


@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(5px); }
  50% { transform: translateX(-5px); }
  75% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}
.rectangulo::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: correcto 0.9s forwards ease ;

  opacity: 0;
}


.rectangulo-erroneo::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: erroneo 0.9s forwards ease ;

  opacity: 0;
}

@keyframes correcto{
  0%{
     opacity: 0;
     z-index: 1;
  }
  50%{
    opacity: 0.3;
    background-color: #519A73; 
    z-index: 1;
  }
  100%{
    opacity: 0;
    z-index: 1;
 
  }
 }


 
@keyframes erroneo{
  0%{
     opacity: 0;
     z-index: 1;
  }
  50%{
    opacity: 0.3;
    background-color:#c65956; 
    z-index: 1;
  }
  100%{
    opacity: 0;
    z-index: 1;
 
  }
 }
 .container-section{
position: relative;
 }