<section class="bg-[#1A1B1B] h-[600px] container-section flex-col flex justify-center">
  @if(estadoComponente){
  <div class="h-full flex flex-col justify-center items-center">
    <div class="flex flex-row gap-5">
      <shared-level [level]="level" class="text-center mb-2"></shared-level>
      <app-lifes [lifes]="lifes" class="text-center mb-2"></app-lifes>
    </div>

    <ul class="grid grid-cols-3 gap-4 size-auto w-80 h-80">
      <li
        *ngFor="let quadrate of quadrates"
        class="bloque bg-[#519A73] rounded-md drop-shadow-lg cursor-pointer"
        (click)="validate(quadrate, $event)"
      >
        <span class="hidden">{{ quadrate }}</span>
      </li>
    </ul>
  </div>
  }@else{
  <app-startgame
    [name]="name"
    [text]="text"
    [levelScore]="levelScore"
    [pantallaInicial]="pantallaInicial"
    (messageEvent)="receivingState($event)"
  ></app-startgame>
  }
</section>
