<section class="bg-[#1A1B1B] w-screen h-[60vh] flex justify-center items-center">

  @if(estadoComponente){
    <div class="content screen-1">
      <h1 class="number-main"></h1>
      <div class="timerLine"></div>
    </div>
    <div class="content screen-2" style="display: none">
      <h2 class="lblQuestion">¿Cuál es el Número?</h2>
      <input type="text" id="answer-input" placeholder="Escribe el número..." autocomplete="off"/>
      <br><br>
      <button id="submit-button" (click)="validateNumber($event)">Confirmar</button>
    </div>
  }@else{
    <app-startgame [pantallaInicial]= "pantallaInicial" [name]="name" [text]="text" [levelScore] = "levelScore" (messageEvent)="receivingState($event)"></app-startgame>
  }

</section>
