.container-circles {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #1A1B1B;
  height: 94%;
  position: relative;
}

.stats {
  height: 6%;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  display: flex;
  color: #519A73;
}

.hits-area {
  display: flex;
}

.circle {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 2px;
  border-radius: 50%;
  background-color: #1A1B1B;
  border-color: #519A73;
  height: 75px;
  width: 75px;
  cursor: pointer;
}

.circle .second {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 2px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: #519A73;
  border-color: #1A1B1B;
}

.circle .third {
  position: absolute;
  border: solid 2px;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: #1A1B1B;
  border-color: #1A1B1B;
}

.line1 {
  position: absolute;
  border: solid 1px;
  border-color: #519A73;
  height: 72px;
  z-index: 1;
  pointer-events: none;
}

.line2 {
  position: absolute;
  border: solid 1px;
  width: 72px;
  border-color: #519A73;
  z-index: 1;
  pointer-events: none;
}
