<section class="bg-[#1A1B1B] w-screen h-[60vh]">
  @if(estadoComponente){
  <div class="stats">
    <app-timer [timerState]="timerState" class="timer"> </app-timer>
    <div class="hits-area">
      <div>FALTANTES:&nbsp;</div>
      <div class="hits">30</div>
    </div>
  </div>
  <div class="container-circles">
    <div class="circle" (click)="validateClick($event)">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="circle second">
        <div class="circle third"></div>
      </div>
    </div>
  </div>
  }@else{
  <app-startgame
    [name]="name"
    [text]="text"
    (messageEvent)="receivingState($event)"
  ></app-startgame>
  }
</section>
