<div class="screen">
  <h1>Aim Trainer</h1>
  <button class="btn" id="start">Empezar</button>
</div>
<div class="screen">
  <div class="stats">
    <div class="info">
      <p>Tiempo: <span id="time">00:00</span></p>
      <p>Restantes: <span id="hits">30</span></p>
    </div>
  </div>
  <div class="board" id="board"></div>
</div>
<div class="screen">
  <h1>Terminó</h1>
  <div class="results">
    <p>Tiempo Total: <span id="time-over">00:00</span></p>
    <p>Objetivo por Segundo: <span id="persecond-over">00:00</span></p>
  </div>
  <button class="btn restart">Reiniciar</button>
</div>
