<div class="flex flex-col p-5 h-full justify-center">

    <div class="text-center animation">
        @if(pantallaInicial){
          <h1 class="sm:text-8xl text-5xl text-[#519A73] font-normal text-center">{{name}}</h1>
          <p class="text-[#519A73] sm:text-2xl text-1xl font-normal text-center my-3">{{text}}</p>
        <div class="text-center mt-6">
            <a class="px-7 py-2 bg-[#c65956] rounded font-bold my-5 cursor-pointer" (click)="cambiarEstado()">Start</a>
        </div>
        }@else{
          <h1 class="text-2xl text-[#519A73] font-normal text-center">{{name}}</h1>
            <p class="text-[#519A73] text-7xl font-semibold text-center my-3">{{levelScore || levelScoreN}}</p>
          <div class="mt-4 py-0.5 px-0.5">
            <p class="text-[#519A73] text-xl font-normal text-center mb-9">save your score to see how you compare</p>
            @if (!saved) {
              <a class="px-7 py-2 bg-[#c65956] rounded font-bold my-5 cursor-pointer mx-1.5" (click)="saveScore()" >Save Score</a>
            }
            <a class="px-7 py-2 bg-[#FAA7A5] rounded font-bold my-5 cursor-pointer mx-1.5" (click)="cambiarEstado()">Try Again</a>
          </div>
        }
    </div>
</div>
