<div class="h-full max-w-screen-2xl m-auto flex flex-col justify-center items-center p-5">

    <div class="text-center animation">
        <div class="centrado">
            <img [src]="icono" class="w-36">
        </div>
        <div >
        <h1 class="text-6xl text-8xl text-[#519A73] font-normal text-center">{{name}}</h1>
        <p class="text-[#519A73] text-2xl font-normal text-center my-3">{{text}}</p>
        </div> 
        <div class="text-center mt-6">
            <a class="px-7 py-2 bg-[#c65956] rounded font-bold my-5 cursor-pointer" (click)="cambiarEstado()">Start</a>
        </div>
    </div>

   
    
</div>