<section class="bg-[#1A1B1B] w-screen h-[60vh]">
  <div class="h-full flex flex-col justify-center items-center">
    <shared-level
      [level]="level"
      [hearts]="hearts"
      class="text-center mb-2"
    ></shared-level>

    <ul class="grid grid-cols-3 gap-4 size-auto w-80 h-80">
      <li
        *ngFor="let quadrate of quadrates"
        class="quadrate bg-[#519A73] rounded-lg hover:bg-white drop-shadow-lg"
        (click)="validateClick(quadrate)"
      >
        <span class="hidden">{{ quadrate }}</span>
      </li>
    </ul>
  </div>
</section>

<!-- <div>{{ this.randomCorrect }}</div> -->
<!-- <button (click)="levelUp()">click</button> -->
<!-- <button (click)="click()">click</button> -->
