.screen-1 h1 {
  font-size: 3em;
  color: #519A73;
}

.screen-2 {
  height: 100%;
  width: 100%;
  cursor: pointer;
  background-color: #519A73;
  flex-direction: column;
}

.screen-2 h1 {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
}