<section class="bg-[#1A1B1B] w-screen h-[60vh]" id="gameContainer">
  
  @if(estadoComponente){
    <div class="content">
      <h1>Test de Tiempo de Reacción</h1>
      <div id="box" class="red"><span id="boxText">Espera el verde...</span></div>
      <button class="bg-[#519A73] px-3 py-2 rounded-lg" (click)="resetGame()">
        Empezar de nuevo
      </button>
      <!-- Usar (click) en lugar de onclick -->
      <p id="result"></p>
    </div>
  }@else{
    <app-startgame [name]="name" [text]="text" [icono]="icono" (messageEvent)="receivingState($event)"></app-startgame>
  }

</section>
