<div class="bg-[#1A1B1B]">
  <div class="max-w-2xl">
    <h2>Line Chart</h2>
    <canvas id="linechart"></canvas>
  </div>
  <div
    class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
  >
    <a href="#">
      <h5
        class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white text-center"
      >
        Visual Memory
      </h5>
    </a>
    <p
      class="mb-3 font-normal text-gray-500 dark:text-gray-400 text-9xl text-center"
    >
      5
    </p>
    <p class="mb-3 font-normal text-gray-500 dark:text-gray-400 text-center">
      points
    </p>
    <a
      href="#"
      class="inline-flex font-medium items-center text-blue-600 hover:underline"
    >
      <!-- <svg height="52" width="100" xmlns="http://www.w3.org/2300/svg">
        <path
          d="M90 30 L90 40 L100 35 Z"
          style="fill: none; stroke: #2563eb; stroke-width: 2"
        />
      </svg>
      <p>Play</p> -->
      <span class="text-4xl pb-1">&#8227;</span> Play</a
    >
  </div>
</div>
