<section class="bg-[#1A1B1B] w-screen h-[60vh] h-full flex flex-col justify-center items-center">
  @if(estadoComponente){
  <div class="max-w-2xl mx-auto p-5 bg-[#519A73] rounded-lg shadow-md">
    <h1 class="text-center text-white text-2xl font-bold">Comparador de Texto</h1>
    <p class="text-white">Texto predefinido:</p>
    <div class="bg-white border border-gray-300 rounded-md p-3 my-2">
      <p id="textoPredefinido">{{ textoPredefinido }}</p>
    </div>
    <label for="textoUsuario" class="block mb-1">Ingresa el texto:</label>
    <input
      type="text"
      id="textoUsuario"
      [(ngModel)]="textoUsuario"
      (keydown)="onKeyDown()"
      (keyup)="onKeyUp()"
      (paste)="preventAction($event)"
      (copy)="preventAction($event)"
      class="w-full p-2 mb-3 border border-gray-300 rounded-md"
    />
    <p class="text-white" id="resultado">{{ resultado }}</p>
    <p class="text-white" id="tiempo">{{ tiempo }}</p>
  </div>
  }@else{
  <app-startgame
    [name]="name"
    [text]="text"
    (messageEvent)="receivingState($event)"
  ></app-startgame>
  }
</section>
