<section class="bg-[#1A1B1B] w-screen h-[60vh]">
  <div class="containertyping">
    <!-- <div class="bg-[#1A1B1B] w-screen h-[60vh] text-white"> -->
    <h1>Comparador de Texto</h1>
    <p class="texto_blanco">Texto predefinido:</p>
    <div class="div_textopredefinido">
      <p id="textoPredefinido">{{ textoPredefinido }}</p>
    </div>
    <label for="textoUsuario" class="texto_blanco">Ingresa el texto:</label>
    <input
      type="text"
      id="textoUsuario"
      [(ngModel)]="textoUsuario"
      (keydown)="onKeyDown()"
      (keyup)="onKeyUp()"
      (paste)="preventAction($event)"
      (copy)="preventAction($event)"
    />
    <p class="texto_blanco" id="resultado">{{ resultado }}</p>
    <p class="texto_blanco" id="tiempo">{{ tiempo }}</p>
  </div>
</section>
