/* You can add global styles to this file, and also import other style files */

::-webkit-scrollbar {
  display: none;
}
body{
  background-color: black;
  color: aliceblue;
}

.game{
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.2rem;
}
#words{
  color: white;
}
#focus-error{
  position: absolute;
  inset: 0;
  text-align: center;
  padding-top: 100px;
}

.game:focus #words{
 filter: blur(0);
}
.game:focus{
  filter: blur(0);
  outline: none;
 }


